.main-menu-board{
  transform-origin: center;
  height: 80cqh;
  width: auto;
  display: inline-block;
  min-width: max-content;
  min-height: max-content;
  max-width: max-content;
  max-height: max-content;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: .5cqw;
  filter: drop-shadow(0px 10px 10px #000);
}

.wood_board{
  height: 100%;
  right: 0;
}

.left_selection{
  position: absolute;
  height: 100%;
  left: 0;
}

.stripe{
  position: absolute;
  height: 100%;
  left: 18%;
  z-index: 3;
}
.light{
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 10;
  pointer-events: none;
}
.main_menu_letter{
  width: 40%;
  position: absolute;
  top: -10%;
  right: 20%;
  transform: rotate(15deg);        /* rotate */
  transform-origin: center center;
  filter: drop-shadow(0px 8px 5px #000);
  z-index: 6;
}

.player_list{
  max-height: 100%;
  position: absolute;
  left: 3.2%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 5px 3px #000);
  overflow-y: scroll;
}

.player_sheet{
  height: 10cqh;
  margin-top: .5cqw;
  margin-bottom: .5cqw;
  cursor: pointer;
}

.player_name{
  padding-top: 1.5cqw;
  padding-left: 1.5cqw;
  position: absolute;
}

.player_paper{
}

.role_letter_container{
}

.role_letter{
  width: 100%;
  position: absolute;
}

.role_letter_token{
  position: absolute;
  height: 30cqh;
  right: 10%;
  top: 5cqh;
  transform: rotate(-25deg);        /* rotate */
  transform-origin: center center;
  filter: drop-shadow(0px 5px 5px #000);
}

.evil_letter{
  position: absolute;
  width: 40%;
  height: auto;
  top: 45%;
  right: 30%;
  transform: rotate(35deg);        /* rotate */
  transform-origin: center center;
  z-index: 5;
}

.good_letter{
  position: absolute;
  width: 40%;
  height: auto;
  top: 47%;
  right: 10%;
  transform: rotate(-25deg);        /* rotate */
  transform-origin: center center;
  z-index: 5;
}
