<div class="main-menu-board">
  <img class="light" src="/main_menu/Light.png" alt="">
  <img class="left_selection" src="/main_menu/left_selection.png" alt="">
  <img class="stripe" src="/main_menu/stripe.png" alt="">
  <div class="player_list">
    @switch (activeMenu.valueOf()){
      @case (0) {
        <img class="player_sheet" src="/main_menu/main_menu.png" alt="">
      }
      @case(1) {
        <img class="player_sheet" src="/main_menu/add_player.png" alt="">
      }
      @case(2) {
        <img class="player_sheet" src="/main_menu/role_title.png" alt="">
      }
      @default {
      }
    }
    @for (p of players.players; track p.playerName) {
      <div class="player_paper">
        <h2 class="player_name">{{p.playerName}}</h2>
        @if(p.playerRole.roleName != Roles.NONE){
          <img class="player_class_icon" src="{{p.playerRole.roleImage.toLowerCase()}}" alt="class_icon">
        }
        @if(p == edit.player){
          <img class="selected_tag" src="/main_menu/selected_tag.png" alt="">
        }
        <img class="player_sheet" src="/main_menu/player.png" alt=""
             (click)="selectedRole(p)">
      </div>
    }

  </div>

  @switch (activeMenu.valueOf()){
    @case (0) {
<!--      Main Menu-->
      <div class="evil_letter">
        <div class="role_letter_container" >
          <img class="role_letter" src="/main_menu/evil-letter-bottom.png" alt="">
          <img class="role_letter_token" src="/main_menu/register-token-evil.png" alt="">
          <img class="role_letter" src="/main_menu/evil-letter-top.png" alt="">
        </div>
      </div>

      <div class="good_letter">
        <div class="role_letter_container" >
          <img class="role_letter" src="/main_menu/good-letter-bottom.png" alt="">
          <img class="role_letter_token" src="/main_menu/register-token-good.png" alt="">
          <img class="role_letter" src="/main_menu/good-letter-top.png" alt="">
        </div>
      </div>

      <img class="main_menu_letter" src="/main_menu/main-menu-letter.png" alt="">
      <img class="left_button" src="/main_menu/add_players.png" alt="" (click)="addPlayer()">

      @if(players.players.length >= 5){
        <img class="done_button" src="/main_menu/play.png" alt="" (click)="playGame()">
      }
    }
    @case(1){
<!--      Add Player-->
      <textarea id="player_name" maxlength="13"
                [(ngModel)]="playerName"
                (keydown.enter)="add()"
                (keyup.enter)="this.playerName = ''">
      </textarea>
      <img class="player_naming_menu" src="/main_menu/player_name_menu.png" alt="">
      <div class="evil_letter">
        <div class="role_letter_container" >
          <img class="role_letter" src="/main_menu/evil-letter-bottom.png" alt="">
          <img class="role_letter_token" src="/main_menu/register-token-evil.png" alt="">
          <img class="role_letter" src="/main_menu/evil-letter-top.png" alt="">
        </div>
      </div>
      <div class="good_letter">
        <div class="role_letter_container" >
          <img class="role_letter" src="/main_menu/good-letter-bottom.png" alt="">
          <img class="role_letter_token" src="/main_menu/register-token-good.png" alt="">
          <img class="role_letter" src="/main_menu/good-letter-top.png" alt="">
        </div>
      </div>
      <img class="done_button" src="/main_menu/back.png" alt="" (click)="backToMenu()">
      <img class="left_button" src="/main_menu/add.png" alt="" (click)="add()">

    }
    @case(2){
      @if(edit.player?.playerRole?.roleName == Roles.NONE){
        <app-role-selection></app-role-selection>
      } @else {
        @if(edit.player?.playerAlignment == "good"){
          <div class="letter_role">
            <div class="role_letter_container" >
              <img class="icon" src="{{edit.player?.normalizedRoleImageName}}" alt="">
              <img class="seal" src="/main_menu/seal.png" alt="" (click)="resetRole(edit.player)">
              <img class="role_letter" src="/main_menu/good-letter-bottom.png" alt="">
              <img class="role_letter_token" src="/main_menu/register-token-good.png" alt="">
              <img class="role_letter" src="/main_menu/good-letter-top.png" alt="">
            </div>
          </div>
        } @else {
          <div class="letter_role">
            <div class="role_letter_container" >
              <img class="icon" src="{{edit.player?.normalizedRoleImageName}}" alt="">
              <img class="seal" src="/main_menu/seal.png" alt="" (click)="resetRole(edit.player)">
              <img class="role_letter" src="/main_menu/evil-letter-bottom.png" alt="">
              <img class="role_letter_token" src="/main_menu/register-token-evil.png" alt="">
              <img class="role_letter" src="/main_menu/evil-letter-top.png" alt="">
            </div>
          </div>
        }
        <img class="butler_item" src="/main_menu/role_signature/butler_img.png" alt="">
      }
      <img class="left_button role_button" src="/main_menu/delete_player.png" alt="" (click)="deletePlayer(this.edit.player)">
      <img class="done_button role_button" src="/main_menu/back.png" alt="" (click)="backToMenu()">
    }
    @default {

    }
  }
  <img class="wood_board" src="/main_menu/background_board.png" alt="">
</div>
