main{
  /* start with a comfortable default on desktops */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transform: scale(0.75);
  transform-origin: top center;
}
