#background {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 80cqh;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 2;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.76));
}

#bottom_menu{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 12.4cqh;
  z-index: 1;
}

#player_tag{
  right: 26%;
  top: 14%;
  position: absolute;
  transform: translate(-50%, -50%);
  rotate: 15deg;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.76));
  margin: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#paper_tag{
  width: 11cqw;
}

#player_list{
  position: absolute;
  left: 50%;
  top: 49.1%;
  z-index: 4;
  height: 64.5cqh;
  width: 45cqh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  transform: translate(-75cqh, -50%);
}

#text_area{
  position: absolute;
  left: 50%;
  top: 17cqh;
  z-index: 5;
  height: 64.4cqh;
  width: 53cqh;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comments{
  height: 100%;
  width: 100%;
  resize: none;
  font-size: 3cqh;
  padding: 1cqh;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  z-index: 5;
}

.background_paper{
  height: 13cqh;
}

.player_name{
  margin-top: 6cqh;
  font-size: 3cqh;
  position: absolute;
  left: 20%;
}

.player_paper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1cqh;
}

.role_image{
  right: 18%;
  position: absolute;
  height: 15cqh;
  opacity: 40%;
}

.unselectable{
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
}
