<!--<div id="player_tag">-->
<!--  <h2 class="player_name unselectable">{{this.players.selectedPlayer?.playerName}}</h2>-->
<!--  <img class="role_image unselectable" src="{{this.players.selectedPlayer?.playerRole!.roleImage.toLowerCase()}}" alt="">-->
<!--  <img id="paper_tag" src="/ability_page/paper_tag.png" alt="">-->
<!--</div>-->
<img id="background" src="/ability_page/ability_menu.png" alt="">
<img id="bottom_menu" src="/ability_page/bottom_menu.png" alt="">
<div id="player_list">
  @for (p of this.players.playerList; track p.playerName) {
    @if(p != this.players.selectedPlayer){
      <div class="player_paper" (click)="this.insertString(p.playerName)">
        <h2 class="player_name unselectable">{{p.playerName}}</h2>
        <img class="background_paper unselectable" src="/main_menu/player.png" alt="">

        @if(p.playerRole.roleName != Roles.NONE){
          <img class="role_image unselectable" src="{{p.playerRole.roleImage.toLowerCase()}}" alt="">
        }
      </div>
    }@else{
      <div class="player_paper"
           (click)="this.insertString('myself')">
        <h2 class="player_name unselectable">Myself</h2>
        <img class="role_image unselectable"
             src="{{this.players.selectedPlayer.playerRole.roleImage.toLowerCase()}}"
             alt="">
        <img class="background_paper unselectable" src="/main_menu/player.png" alt="">
      </div>
    }
  }
</div>
<div id="text_area">
  <textarea name="playerComment" id="comments" cols="30" rows="10"
            [(ngModel)]="playerComments">
  </textarea>
</div>
<div id="shortcuts">

</div>
