<div id="role_selection_container">
  <div class="trouble_brewing">
    <img class="background" src="/role_selection/role_selection_background.png" alt="">
    <div class="townsfolk">

    </div>
    <div class="outsiders">

    </div>
    <div class="minions">
<!--      @for (role of Object.values(TroubleBrewing); track role) {-->
<!--        <h1>{{role}}</h1>-->
<!--      }-->
    </div>
    <div class="demons">

    </div>
  </div>
  <div class="bad_moon_rising">
  </div>
  <div class="sects_and_violence">
  </div>
</div>
