/*SIDE MENUS*/
.classes_info{
  padding-top: 2cqw;
  position: absolute;
  font-family: verdana, sans-serif;
  font-size: .75cqw;
  right: 0;
  top: 0;
  width: 13%;
  height: 35cqw;
  align-items: center;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4cqh 1.5cqh rgba(0, 0, 0, 0.89));
}
.classes_info::after{
  content: "";
  position: absolute;
  z-index: 10;
  inset: 0;
  background: linear-gradient(180deg, rgb(0, 0, 0) -10%, rgba(0, 0, 0, 0) 2em);
  pointer-events: none;
}

.round_info{
  padding-top: 2cqw;
  position: absolute;
  font-family: verdana, sans-serif;
  font-size: .75cqw;
  left: 0;
  top: 0;
  width: 13%;
  height: 35cqw;
  align-items: center;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4cqh 1.5cqh rgba(0, 0, 0, 0.89));
}
.round_info::after{
  content: "";
  position: absolute;
  z-index: 10;
  inset: 0;
  background: linear-gradient(180deg, rgb(0, 0, 0) -10%, rgba(0, 0, 0, 0) 2em);
  pointer-events: none;
}

.top_flag{
  position: absolute;
  top: 0;
  width: 70%;
  z-index: 0;
  filter: drop-shadow(0px 20px 1cqh rgba(0, 0, 0, 0.7));
}
.background_flag{
  width: 80%;
  position: absolute;
  top: 0;
  z-index: -1;
  filter: drop-shadow(0px 20px 1cqh rgba(0, 0, 0, 0.7));
  pointer-events: none;
}
.bottom_flag{
  width: 60%;
  position: absolute;
  bottom: -1cqw;
  z-index: -2;
  cursor: pointer;
}
.highlight-player{
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9cqw;
  width: 90%;
  z-index: 1;
  filter: drop-shadow(0px 1cqh 1.5cqh rgba(0, 0, 0, 0.89));
}

/*PLAYER CONTAINERS*/
.ghost_tag{
  height: 9cqw;
  width: 100%;
}
.player_info{
  width: 55%;
  height: 100%;
  justify-content: left;
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}
.player_cont {
  height: 10cqw;
  width: 100%;
  border-radius: 1.5cqw;
  background-image: url("/sheet.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: row;
  filter: drop-shadow(0px 10px 10px #000);
  z-index: 1;
}
.player_tag{
  container-type: inline-size;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: top 0.4s;
  font-size: .9cqw;
  margin-top: 1.3cqw;
}

.player_list{
  container-type: inline-size;
  height: 100%;
  width: 73%;
  z-index: 3;
  margin-top: 1.5cqw;
  padding: 1cqw;
  overflow-y: scroll;
  scrollbar-width: none;
}
.player_list::after{
  content: "";
  position: absolute;
  z-index: 0;
  inset: 0;
  background: linear-gradient(180deg, rgb(0, 0, 0, 0.7) 1%, rgba(0, 0, 0, 0) 10%);
  pointer-events: none;/* let clicks pass through */
}

/*PROFILE RELATED*/
.player_profile{
  width: 30%;
  height: 100%;
  justify-content: left;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.player_class_pic{
  position: absolute;
  left: 0;
  cursor: pointer;
  width: auto;
  height: 100%;
}
.player_status{
  width: 100%;
  height: 2cqw;
  padding: 0;
  justify-content: left;
  align-items: center;
  display: flex;
}
.player_info{
  padding-left: 9.5cqw;
  width: 100%;
  height: 100%;
  justify-content: left;
}

.death_token{
  border-top-left-radius: .5cqw;
  border-top-right-radius: .5cqw;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: -.8cqw;
  left: 1.3cqw;
  height: 11.5cqw;
  width: auto;
  pointer-events: none;
  filter: drop-shadow(0px 1cqw .4cqw rgba(0, 0, 0, 0.82));
}
.player_class_pic:hover ~ .death_token{
  visibility: visible;
  opacity: .8;
}

.active{
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.active:hover{
  opacity: .8;
}

/*ABILITY RELATED*/
.player_ability{
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}


/*CONDITION RELATED*/
.condition{
  height: 50%;
}
.player_conditions{
  width: 20%;
  height: 100%;
  margin-right: 1.5cqw;
  justify-content: right;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*BOTTOM OPTIONS*/
.player_options{
  position: relative;
  top: -7cqw;
  height: 9cqw;
  width: 75%;
  padding-right: 0;
  padding-left: 0;
  border-radius: 1.5cqw;
  margin-bottom: -6cqw;
  background-image: url("/bottom.png");
  background-repeat: no-repeat;
  background-position: bottom;
  justify-content: center;
  align-items: center;
  display: flex;
  filter: drop-shadow(0px 10px 10px #000);
  transition: top 0.4s ease 0.07s, margin-bottom 0.4s ease 0.07s;
  z-index: 0;
}
.player_options:hover {
  top: -2.5cqw;
  margin-bottom: -1.5cqw;
}

/*NOMINATION AREA*/
.nomination{
  justify-content: center;
  align-items: center;
  display: flex;
}
.left_base{
  position: absolute;
  height: 140%;
  top: -4%;
  width: auto;
  left: 33%;
  filter: drop-shadow(0px 3px 3px #000000);
}
.right_base{
  position: absolute;
  height: 140%;
  top: -4%;
  width: auto;
  right: 33%;
  filter: drop-shadow(0px 3px 3px #000000);
}
.center_base{
  position: absolute;
  height: 140%;
  top: -4%;
  width: auto;
  left: 45%;
  filter: drop-shadow(0px 3px 3px #000000);
}
.token{
  scale: .88;
  top: -15%;
  height: 140%;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0));
}

.token_image{
  left: 46%;
  height:80%;
  width: auto;
  z-index: 1;
  pointer-events: none;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0));
}

#role_select{
  position: absolute;
  top: 5%;
  left: -3%;
  width: 90%;
  height: 90%;
  z-index: 10;
}

#screen_block{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);   /* blur what's behind */
  -webkit-backdrop-filter: blur(8px); /* Safari */

}
