<div class="round_info">
  <img class="background_flag" src="/{{roundCycle}}.png" alt="">
  <img class="top_flag" src="/topFlag.png" alt="">
  <img class="bottom_flag" src="{{opposite}}" alt="" (click)="cycleDay()">
  <h1>Round</h1>
  <h1>{{roundCounter + 1}}</h1>
</div>
<div class="player_list">
  @for( player of players.players; track player.playerName){
    <div class="player_tag">
      <div class="player_cont">
        <div class="player_profile">
          <img class="player_class_pic" src="{{player.playerRole.roleImage.toLowerCase()}}" alt="class_icon" (click)="(player.isDead = true)">
          @if(player.isDead){
            @if(player.wasExecuted){
              <img class="death_token active" src="/executed_token.png" alt="dead" (click)="player.isDead = false ; player.wasExecuted = false">
            } @else {
              <img class="death_token active" src="/death_token.png" alt="dead" (click)="player.isDead = false">
            }
          }
          @else{
            <img class="death_token" src="/death_token.png" alt="dead">
          }
          <div class="player_info">
            <h2 class="player_class"><span class="{{player.playerAlignment}}">{{player.playerRole.roleName.toUpperCase()}}</span></h2>
            <div class="player_status">
              @if(player.playerRole.roleName != player.registeredAs.roleName){
                <img src="{{player.registeredAs.roleImage.toLowerCase()}}" alt="" width="auto" height="200%">
              }
            </div>
            <h2 class="player_name">{{player.playerName}}</h2>
          </div>
        </div>
        <div class="player_ability">
          @if (isDay) {
            @if (executeMode) {
              @if(!player.isDead){
                <div class="nomination">
                  <div class="token_container">
                    <img class="left_base" src="/nomination_base.png" alt="" (click)="nominatedPlayer(player)">
                  </div>
                  @if(player.canNominate){
                    <div class="token_container">
                      <img class="left_base token"
                           src="/nomination_token.png" alt=""
                           (click)="nominatedPlayer(player)">
                    </div>
                  }
                  <img class="right_base" src="/nominated_base.png" alt="" (click)="wasNominated(player)">
                  @if(!player.wasIndicated){
                    <img class="right_base  token"
                         src="/nominated_token.png" alt=""
                         (click)="wasNominated(player)">
                  }
                </div>
              } @else{
                <div class="nomination">
                  <div class="token_container">
                    <img class="center_base" src="/ghost_vote_base.png" alt="" (click)="spendDeadVote(player)">
                    @if(player.hasDeadVote){
                      <img class="center_base token"
                           src="/ghost_vote_token.png" alt=""
                           (click)="spendDeadVote(player)">
                    }
                  </div>
                </div>
              }

            } @else {
              @if([Roles.VIRGIN, Roles.SLAYER].includes(player.playerRole.roleName)){
                <div class="token_container">
                  <img class="center_base" src="/ability_base.png" alt="" (click)="spendAbility(player)">
                  @if(player.hasAbility && !player.isDead){
                    <img class="center_base token_image" src="{{player.playerRole.roleImage.toLowerCase()}}" alt="" width="auto" height="200%">
                    <img class="center_base token"
                         src="/ability_token.png" alt=""
                         (click)="spendAbility(player)">

                  }
                </div>
              }
            }
          } @else{
            @switch (player.playerRole.roleName) {

              @case (Roles.MONK) {           <!-- MONK ABILITY -->
                <h2>Protects:</h2>
                <select [(ngModel)]="protectedPlayer" (ngModelChange)="monkTarget(player, $event)">
                  <option [ngValue]=""></option>
                  @for (p of players.players; track p) {
                    <option [ngValue]="p">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                  }
                </select>
              }

              @case (Roles.POISONER) {
                <h2>Poisons:</h2>
                <select [(ngModel)]="poisonedPlayer" (ngModelChange)="poisonerTarget($event)">
                  <option [ngValue]=""></option>
                  @for (p of players.players; track p) {
                    <option [ngValue]="p">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                  }
                </select>
              }

              @case (Roles.FORTUNE_TELLER) {
                @if (player.hasAbility) {
                  <h2>Choose:</h2>
                  <select>
                    <option value="1"></option>
                    @for (p of players.players; track p) {
                      <option [ngValue]="player">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                    }
                  </select>
                  <h2>and</h2>
                  <select>
                    <option value="1"></option>
                    @for (p of players.players; track p) {
                      <option [ngValue]="player">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                    }
                  </select>
                  <h2>Learn:</h2>
                  <select>
                    <option value=""></option>
                    <option value="no">NO</option>
                    <option value="yes">YES</option>
                  </select>
                }
              }
              @case (Roles.EMPATH) {
                @if (player.hasAbility) {
                  <h2>Sees:</h2>
                  <select>
                    <option value="1"></option>
                    @for (p of players.players; track p) {
                      <option [ngValue]="player">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                    }
                  </select>
                  <h2>and</h2>
                  <select>
                    <option value="1"></option>
                    @for (p of players.players; track p) {
                      <option [ngValue]="player">{{ player.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                    }
                  </select>
                  <h2>Learn:</h2>
                  <select>
                    <option value=""></option>
                    <option value="no">NO</option>
                    <option value="yes">YES</option>
                  </select>
                }
              }

              @case (Roles.UNDERTAKER) {
                <h2>See:</h2>
                @if (player.isPoisoned || player.isDrunk) {
                  <select>
                    <option value=" "></option>
                    @for (role of Object.values(Roles); track role) {
                      <option [ngValue]="role">{{ role }}</option>
                    }
                  </select>
                } @else {
                  <select>
                    <option value=" "></option>
                    @for (p of players.players; track p) {
                      @if (p.isDead && p.wasExecuted) {
                        <option [ngValue]="p">{{ p.playerRole.roleName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                      }
                    }
                  </select>
                }
              }

              @case (Roles.RECLUSE) {}

              @case (Roles.SPY) {
                <h2>Registers as:</h2>
                <select [(ngModel)]="player.registeredAs.roleName" (ngModelChange)="registerAs(player, $event)">
                  <option value=""></option>
                  @for (role of Object.values(Townsfolk); track role) {
                    <option [ngValue]="role">{{ role }}</option>
                  }
                  @for (role of Object.values(Outsiders); track role) {
                    <option [ngValue]="role">{{ role }}</option>
                  }
                  @for (role of Object.values(Minion); track role) {
                    <option [ngValue]="role">{{ role }}</option>
                  }
                  @for (role of Object.values(Demons); track role) {
                    <option [ngValue]="role">{{ role }}</option>
                  }
                </select>
              }

              @case (Roles.IMP) {
                <h2>Kills:</h2>
                <select [(ngModel)]="markedForDeathPlayer" (ngModelChange)="markForDeath(player, $event)">
                  <option [ngValue]="null"></option>
                  @for (p of players.players; track p) {
                    <option [ngValue]="p">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                  }
                </select>
              }

              @case (Roles.RAVEN_KEEPER) {
                @if (player.isDead) {
                  <h2>Choose:</h2>
                  <select>
                    <option value=" "></option>
                    @for (p of players.players; track p) {
                      <option [ngValue]="p">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                    }
                  </select>
                  <h2>Sees:</h2>
                  <select>
                    <option value="1"></option>
                    @for (role of Object.values(Roles); track role) {
                      <option [ngValue]="role">{{ role }}</option>
                    }
                  </select>
                }
              }

              @case (Roles.BUTLER) {
                <h2>Choose:</h2>
                <select>
                  <option value=" "></option>
                  @for (p of players.players; track p) {
                    <option [ngValue]="p">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                  }
                </select>
              }

              @case (Roles.WASHERWOMAN) {
                <h2>Sees:</h2>
                <select>
                  <option value=" "></option>
                  @for (p of players.players; track p) {
                    <option [ngValue]="p">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                  }
                </select>
                <h2>and:</h2>
                <select>
                  <option value=" "></option>
                  @for (p of players.players; track p) {
                    <option [ngValue]="p">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                  }
                </select>
                <h2>sees:</h2>
                <select>
                  <option value="1"></option>
                  @for (role of Object.values(Townsfolk); track role) {
                    <option [ngValue]="role">{{ role }}</option>
                  }
                </select>
              }

              @case (Roles.LIBRARIAN) {
                <h2>Sees:</h2>
                <select>
                  <option value=" "></option>
                  @for (p of players.players; track p) {
                    <option [ngValue]="p">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                  }
                </select>
                <h2>and:</h2>
                <select>
                  <option value=" "></option>
                  @for (p of players.players; track p) {
                    <option [ngValue]="p">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                  }
                </select>
                <h2>sees:</h2>
                <select>
                  <option value="1"></option>
                  @for (role of Object.values(Outsiders); track role) {
                    <option [ngValue]="role">{{ role }}</option>
                  }
                </select>
              }

              @case (Roles.INVESTIGATOR) {
                <h2>Sees:</h2>
                <select>
                  <option value=" "></option>
                  @for (p of players.players; track p) {
                    <option [ngValue]="p">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                  }
                </select>
                <h2>and:</h2>
                <select>
                  <option value=" "></option>
                  @for (p of players.players; track p) {
                    <option [ngValue]="p">{{ p.playerName }} ({{ p.playerRole.roleName.valueOf() }})</option>
                  }
                </select>
                <h2>sees:</h2>
                <select>
                  <option value="1"></option>
                  @for (role of Object.values(Minion); track role) {
                    <option [ngValue]="role">{{ role }}</option>
                  }
                </select>
              }

              @case (Roles.CHEF) {
                <h2>Sees:</h2>
                <select>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              }

              @default { }
            }
          }
        </div>
        <div class="player_conditions">
          @if(player.isDrunk){
            <img class="condition" src="/drunk.webp" alt="Is the Drunk">
          }
          @if(player.isProtected){
            <img class="condition" src="/monk.webp" alt="protected">
          }
          @if(player.isPoisoned){
            <img class="condition" src="/poisoner.webp" alt="poisoned">
          }
          @if(player.isRedHearing){
            <img class="condition" src="/fortuneteller.webp" alt="Red Hearing">
          }
          @if(player.isMarkedForDeath){
            <img class="condition" src="/imp.webp" alt="Marked for Death">
          }
        </div>
      </div>
      <div class="player_options">
        <button (click)="this.edit.player = player"><h2>Change Role</h2></button>
        <button (click)="player.changeAlignment()"><h2>Change Alignment </h2></button>
        <button class="option_buttons" (click)="this.comment.player = player"><h2>Comments</h2></button>
      </div>
    </div>
  }
  <div id="ghost_tag"></div>
</div>
<div class="classes_info">
  <img class="top_flag" src="/topFlag.png" alt="">
  @if(isDay){
    @if(!executeMode){
      <h1>Talk</h1>
      <img class="background_flag" src="/talk_round.png" alt="">
      <img class="bottom_flag" src="/guillotineFlag.png" alt="" (click)="changeMode()">
    } @else {
      <h1>Block</h1>
      <div class="highlight-player">
        <img src="{{blockPlayer.playerRole.toLowerCase()}}" alt=""
             width="90%" height="auto"
             (click)="resetBlock()">
        <span class="stroke"><h1>{{blockPlayer.playerName}}</h1></span>
      </div>
      <img class="background_flag" src="/guillotine_round.png" alt="">
      <img class="bottom_flag" src="/talkFlag.png" alt="" (click)="changeMode()">
    }
  } @else{
    <h1>Wake</h1>
    <div class="highlight-player">
      <img src="{{wakePlayer.playerRole.toLowerCase()}}" alt="" width="90%" height="auto">
      <span class="stroke"><h1>{{wakePlayer.playerName}}</h1></span>
    </div>
    <img class="background_flag" src="/wake_order.png" alt="">
    <img class="bottom_flag" src="/wakeFlag.png" alt="" (click)="wakePlayerSequence()">
  }
</div>
<img class="right_option" src="/side_options.png" alt="">
<img class="left_option" src="/side_options.png" alt="" (click)="rollbackRound()">

@if(this.edit.player != null){
  <div id="screen_block" (click)="this.edit.player = null"></div>
  <app-role-selection id="role_select"></app-role-selection>
}

@if(this.comment.player != null){
  <div id="screen_block" (click)="this.comment.player = null"></div>
  <app-comment-board id="comments_section"></app-comment-board>
}
