.player_tag{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: top 0.4s;
  font-size: .9vw;
}

#player_cont {
  height: 9vw;
  width: 100vw;
  border-radius: 1.5vw;
  background-image: url("/sheet.png");
  background-size: 120% 160%;
  justify-content: center;
  align-items: center;
  display: flex;
  filter: drop-shadow(0px 10px 10px #000);
  z-index: 1;
}
#player_class_pic{
  width: 35%;
  height: auto;
}

#player_info{
  width: 55%;
  height: 100%;
  justify-content: left;
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}
#player_profile{
  width: 30%;
  height: 100%;
  justify-content: left;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#player_ability{
  width: 60%;
  height: 100%;
  justify-content: left;
  align-items: center;
  display: flex;
}

#player_conditions{
  width: 20%;
  height: 100%;
  justify-content: right;
  align-items: center;
  display: flex;
}
#player_options{
  font-size: .9vw;
  position: relative;
  top: -7vw;
  height: 9vw;
  width: 80vw;
  border-radius: 1.5vw;
  margin-bottom: -6vw;
  background-image: url("/bottom.jpg");
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  filter: drop-shadow(0px 10px 10px #000);
  transition: top 0.4s ease 0.1s, margin-bottom 0.4s ease 0.1s;
  z-index: 0;
}
#player_options:hover {
  top: -2.5vw;
  margin-bottom: -1.5vw;
}



