.player_list{
  container-type: inline-size;
  max-height: 100vh;
  width: 70vw;
  padding-top: 5vh;
  overflow-y: scroll;
}

.player_tag{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: top 0.4s;
  font-size: .9cqw;
}
#player_status{
  width: 100%;
  height: 2cqw;
  padding: 0;
  justify-content: left;
  align-items: center;
  display: flex;
}
#player_cont {
  height: 9cqw;
  width: 100%;
  border-radius: 1.5cqw;
  background-image: url("/sheet.png");
  background-size: 120% 160%;
  justify-content: center;
  align-items: center;
  display: flex;
  filter: drop-shadow(0px 10px 10px #000);
  z-index: 1;
}
#player_class_pic{
  width: 35%;
  height: auto;
}
#player_info{
  width: 55%;
  height: 100%;
  justify-content: left;
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}
#player_profile{
  width: 30%;
  height: 100%;
  justify-content: left;
  align-items: center;
  display: flex;
  flex-direction: row;
}
#player_ability{
  width: 60%;
  height: 100%;
  justify-content: left;
  align-items: center;
  display: flex;
}
#player_conditions{
  width: 20%;
  height: 100%;
  justify-content: right;
  align-items: center;
  display: flex;
}
#player_options{
  position: relative;
  top: -7cqw;
  height: 9cqw;
  width: 75%;
  padding-right: 0;
  padding-left: 0;
  border-radius: 1.5cqw;
  margin-bottom: -6cqw;
  background-image: url("/bottom.jpg");
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  filter: drop-shadow(0px 10px 10px #000);
  transition: top 0.4s ease 0.07s, margin-bottom 0.4s ease 0.07s;
  z-index: 0;
}
#player_options:hover {
  top: -2.5cqw;
  margin-bottom: -1.5cqw;
}
#ghost_tag{
  height: 9cqw;
  width: 100%;
}

.evil{
  color: #c50000;
}

.good{
  color: #0077ff;
}



