<div class="player_list">
  <div class="player_tag">
    <div id="player_cont">
      <div id="player_profile">
        <img id="player_class_pic" src="/poisoner.webp" alt="poisoner" width="45%" height="auto">
        <div id="player_info">
          <h2 id="player_class"><span class="evil">POISONER</span></h2>
          <div id="player_status"></div>
          <h3 id="player_name">Player: First N.</h3>
        </div>
      </div>
      <div id="player_ability">
        <h2>Chose:</h2>
        <select>
          <option value="1"></option>
          <option value="2">imp</option>
          <option value="3">empath</option>
          <option value="4">poisoner</option>
          <option value="5">monk</option>
          <option value="6">fortune teller</option>
        </select>
      </div>
      <div id="player_conditions">
      </div>
    </div>
    <div id="player_options">
      <button><h2>Change Role</h2></button>
      <button><h2>Change Alignment </h2></button>
      <button><h2>Add Comments</h2></button>
    </div>
  </div>
  <div class="player_tag">
    <div id="player_cont">
      <div id="player_profile">
        <img id="player_class_pic" src="/monk.webp" alt="monk" width="45%" height="auto">
        <div id="player_info">
          <h2 id="player_class"><span class="good">MONK</span></h2>
          <div id="player_status"></div>
          <h3 id="player_name">Player: First N.</h3>
        </div>
      </div>
      <div id="player_ability">
        <h2>Chose:</h2>
        <select>
          <option value="1"></option>
          <option value="2">imp</option>
          <option value="3">empath</option>
          <option value="4">poisoner</option>
          <option value="5">monk</option>
          <option value="6">the fortune teller</option>
        </select>
      </div>
      <div id="player_conditions">
      </div>
    </div>
    <div id="player_options">
      <button><h2>Change Role</h2></button>
      <button><h2>Change Alignment </h2></button>
      <button><h2>Add Comments</h2></button>
    </div>
  </div>
  <div class="player_tag">
    <div id="player_cont">
      <div id="player_profile">
        <img id="player_class_pic" src="/imp.webp" alt="fortune teller" width="45%" height="auto">
        <div id="player_info">
          <h2 id="player_class"><span class="evil">IMP</span></h2>
          <div id="player_status"></div>
          <h3 id="player_name">Player: First N.</h3>
        </div>
      </div>
      <div id="player_ability">
        <h2>Chose:</h2>
        <select>
          <option value="1"></option>
          <option value="2">imp</option>
          <option value="3">empath</option>
          <option value="4">poisoner</option>
          <option value="5">monk</option>
          <option value="6">the fortune teller</option>
        </select>
      </div>
      <div id="player_conditions">
      </div>
    </div>
    <div id="player_options">
      <button><h2>Change Role</h2></button>
      <button><h2>Change Alignment </h2></button>
      <button><h2>Add Comments</h2></button>
    </div>
  </div>
  <div class="player_tag">
    <div id="player_cont">
      <div id="player_profile">
        <img id="player_class_pic" src="/fortuneteller.webp" alt="fortune teller" width="45%" height="auto">
        <div id="player_info">
          <h2 id="player_class">FORTUNE TELLER</h2>
          <div id="player_status"></div>
          <h3 id="player_name">Player: First N.</h3>
        </div>
      </div>
      <div id="player_ability">
        <h2>Chose:</h2>
        <select>
          <option value="1"></option>
          <option value="2">imp</option>
          <option value="3">empath</option>
          <option value="4">poisoner</option>
          <option value="5">monk</option>
          <option value="6">the fortune teller</option>
        </select>
        <h2>and</h2>
        <select>
          <option value="1"></option>
          <option value="2">imp</option>
          <option value="3">empath</option>
          <option value="4">poisoner</option>
          <option value="5">monk</option>
        </select>

        <h2>Learn:</h2>
        <select name="" id="">
          <option value="1">NO</option>
          <option value="2">YES</option>
        </select>
      </div>
      <div id="player_conditions">
        <img src="/poisoner.webp" alt="poisoned" width="auto" height="100%">
      </div>
    </div>
    <div id="player_options">
      <button><h2>Change Role</h2></button>
      <button><h2>Change Alignment </h2></button>
      <button><h2>Add Comments</h2></button>
    </div>
  </div>
  <div class="player_tag">
    <div id="player_cont">
      <div id="player_profile">
        <img id="player_class_pic" src="/empath.webp" alt="empath" width="45%" height="auto">
        <div id="player_info">
          <h2 id="player_class">EMPATH</h2>
          <div id="player_status"><img src="/drunk.webp" alt="" width="auto" height="200%"></div>
          <h3 id="player_name">Player: First N.</h3>
        </div>
      </div>
      <div id="player_ability">
        <h2>See:</h2>
        <select>
          <option value="1" class="evil"></option>
          <option value="2">imp</option>
          <option value="3">empath</option>
          <option value="4">poisoner</option>
          <option value="5">monk</option>
          <option value="6">the fortune teller</option>
        </select>
        <h2>and</h2>
        <select>
          <option value="1"></option>
          <option value="2">imp</option>
          <option value="3">empath</option>
          <option value="4">poisoner</option>
          <option value="5">monk</option>
          <option value="6">the fortune teller</option>
        </select>

        <h2>Learn:</h2>
        <select name="" id="">
          <option value="1">NO</option>
          <option value="2">YES</option>
        </select>
      </div>
      <div id="player_conditions">
        <img src="/monk.webp" alt="poisoned" width="auto" height="100%">
      </div>
    </div>
    <div id="player_options">
      <button><h2>Change Role</h2></button>
      <button><h2>Change Alignment </h2></button>
      <button><h2>Add Comments</h2></button>
    </div>
  </div>
  <div class="player_tag">
    <div id="player_cont">
      <div id="player_profile">
        <img id="player_class_pic" src="/recluse.webp" alt="empath" width="45%" height="auto">
        <div id="player_info">
          <h2 id="player_class"><span class="good">RECLUSE</span></h2>
          <div id="player_status"><img src="/imp.webp" alt="" width="auto" height="200%"></div>
          <h3 id="player_name">Player: First N.</h3>
        </div>
      </div>
      <div id="player_ability">
      </div>
      <div id="player_conditions">
      </div>
    </div>
    <div id="player_options">
      <button><h2>Change Role</h2></button>
      <button><h2>Change Alignment </h2></button>
      <button><h2>Add Comments</h2></button>
    </div>
  </div>
  <div id="ghost_tag"></div>
</div>
